[Unit]
Description=AHT21 to LCD1602 Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -m aesd_weather_app.main
Restart=always

[Install]
WantedBy=multi-user.target
